@model Ris2022.Data.Models.Paytype

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Paytype</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Namear" class="form-label mt-4"></label>
                <input asp-for="Namear" class="form-control" />
                <span asp-validation-for="Namear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nameen" class="form-label mt-4"></label>
                <input asp-for="Nameen" class="form-control" />
                <span asp-validation-for="Nameen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
