@using Ris2022.Resources
@model IEnumerable<Order>

@{
  ViewBag.Title = Resource.OrderIndex;
}
<h2 class="text-primary">Orders List</h2>
  <i class="bi bi-plus-circle"></i>&nbsp;@Html.ActionLink("Add New Order","Create","Orders")

<br />

    <div style="padding-left: 5%;padding-right: 5%;">
        @(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Accessionnumber).Titled("Id");
        columns.Add(model => model.modality.Name).Titled("Modality Name");
        columns.Add(model => model.Patientid).Titled(Resource.PatId);
                columns.Add().Encoded(false)
        .RenderedAs(p=>(Html.ActionLink("Edit","Edit", "Orders", new {id = p.Id}, new {@class = "btn btn-default"})));
        columns.Add().Encoded(false)
        .RenderedAs(p=>(Html.ActionLink("Delete","Delete", "Orders", new {id = p.Id}, new {@class = "btn btn-default"})));
        columns.Add().Encoded(false)
        .RenderedAs(p=>(Html.ActionLink("Details","Details", "Orders", new {id = p.Id}, new {@class = "btn btn-default"})));
        
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
    </div>