@model IEnumerable<Patient>

@{
  ViewBag.Title = "Patients";
}
<h1 class="text-primary">Patients List</h1>
                <i class="bi bi-plus-circle"></i>@Html.ActionLink("Add New Patient","Create","Patients")


<br />
@{string aspHtmlString = "<a asp-action=\"Index\">";}

    <div style="padding-left: 5%;padding-right: 5%;">
    @(
        Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Givenid).Titled("Id");
                columns.Add(model => model.Firstname).Titled(Resource.Name);
                columns.Add(model => model.Lastname).Titled(Resource.SurName);
                columns.Add(model => model.Middlename).Titled(Resource.FathName);
                columns.Add().Encoded(false)
                .RenderedAs(p=>(Html.ActionLink("Edit","Edit", "Patients", new {id = p.Id}, new {@style = "background:#010101"})));
                columns.Add().Encoded(false)
                .RenderedAs(p=>(Html.ActionLink("Delete","Delete", "Patients", new {id = p.Id}, new {})));
                columns.Add().Encoded(false)
               .RenderedAs(p=>(Html.ActionLink("Add Order","Create", "Orders", new {patientId = p.Id}, new {})));
                columns.Add().Encoded(false)
               .RenderedAs(p =>new GridHtmlString(aspHtmlString)); 

                                       
@*        columns.Add(model => model.Martialstatusid).Titled("Marital status");

        columns.Add(model => model.Age).Titled("Age");
        columns.Add(model => model.Birthdate).Titled("Birthday").Formatted("{0:d}");*@
        
    })
    .Using(GridFilterMode.Header)
    .Empty("No data found")
    .Filterable()
    .Sortable()
    .Pageable()
)
    </div>
