@model Ris2022.Data.Models.Modality
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Modality</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label mt-4"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aetitle" class="form-label mt-4"></label>
                <input asp-for="Aetitle" class="form-control" />
                <span asp-validation-for="Aetitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ipaddress" class="form-label mt-4"></label>
                <input asp-for="Ipaddress" class="form-control" />
                <span asp-validation-for="Ipaddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Port" class="form-label mt-4"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Modalitytypeid" class="form-label mt-4"></label>
                <input asp-for="Modalitytypeid" class="form-control" />
                <span asp-validation-for="Modalitytypeid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="form-label mt-4"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departmentid" class="form-label mt-4"></label>
                <input asp-for="Departmentid" class="form-control" />
                <span asp-validation-for="Departmentid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
